.env
__pycache__/
*.pyc
*.pyo
node_modules/
.next/
frontend/node_modules/
frontend/.next/
backend/.venv/
web/node_modules/
web/.next/
*.db
pgdata/
/models/
!backend/app/models/
**/__pycache__/
**/*.pyc
**/*.pyo
tensorboard/
*.zip
